{{ define "main" -}}
{{- $sections := site.Sections -}}
<main id="main" class="main">
  <div class="profile">
    <img class="avatar" src="{{ site.Params.avatarURL | default "https://github.com/rlaope.png" }}" alt="" width="88" height="88" loading="lazy">
    <p class="profile-name">{{ site.Params.authorName | default "rlaope" }}</p>
  </div>
  <h1 class="home-title">estudy<span class="dot">.</span></h1>
  <div class="index-groups">
    {{- range $sections }}
    <section class="index-group">
      <h2><a href="{{ .RelPermalink }}">{{ partial "secname.html" . }}</a></h2>
      <ul class="index-list">
        {{- range .RegularPagesRecursive }}
        <li><a href="{{ .RelPermalink }}">{{ partial "title.html" . }}</a></li>
        {{- end }}
      </ul>
    </section>
    {{- end }}
  </div>
</main>
{{- end }}
